<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" *ngFor="let crumb of breadcrumb" (click)="onCrumbClick(crumb)">{{crumb}}
    </li>
  </ol>
</nav>

<ul class="list-group" *ngIf="isDir === 'dir'; else elseBlock">
  <li class="list-group-item" *ngFor="let file of files">
    <div class="row" (click)="onItemClick(file)">
      <div class="col-md-4">
        <a>{{file.name}}</a>
      </div>
      <div class="col-md-4">
          {{file.size}} bytes
      </div>
      <div class="col-md-4">
          {{file.type}}
      </div>
    </div>
  </li>
</ul>
<ng-template #elseBlock>
    <div *ngIf="isDir === 'txt'" [innerText]="content"></div>
    <div *ngIf="isDir === 'png' || isDir === 'jpg' || isDir === 'jpeg'">
        <img [src]="content" alt="">
    </div>
    <div *ngIf="isDir === 'mp3'">
      <audio id="player" controls>
        <source [src]="content" type="audio/mpeg">
      </audio>
    </div>
    <div *ngIf="isDir === 'mp4'">
      <video id="videoPlayer" controls>
        <source [src]="content" type="video/mp4">
      </video>
    </div>
    <div *ngIf="isDir === 'other'">
      <p>File Downloaded</p>
    </div>
</ng-template>
